@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}
body {
  height: 600vh;
  background-color: #411d12;
  overflow: hidden;
}
#entrance {
  position: relative;
  right: 0;
  z-index: 10000;
  background-color: #fff;
}
#header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.105), rgba(0, 0, 0, 0.3)),
    url(../images/wardrobe-close.jpeg);
  background-position: top;
  background-size: cover;
  width: 50%;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  z-index: 3;
}
#header2 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.105), rgba(0, 0, 0, 0.3)),
    url(../images/wardrobe-close.jpeg);
  background-position: top;
  background-size: cover;
  width: 50%;
  height: 120vh;
  position: fixed;
  right: 0;
  z-index: 2;
}
#header h1 {
  color: #fff;
  font-size: 3em;
}

#wardrobe {
  position: fixed;
  top: 0px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.505), rgba(0, 0, 0, 0.503)),
    url(../images/modern.webp);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}
.ownerCard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.ownerCard__photo {
  width: 15rem;
  height: 15rem;
  border-radius: 50rem 50rem;
}
.ownerCard__name {
  font-size: 3rem;
  color: #fff;
}
.wardrobe__content {
  padding-top: 3rem;
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4.1rem;
}
.wardrobe__content img {
  width: 15rem;
  outline: 1rem solid #3d1a10;
  height: auto;
}

@media (max-width: 1200px) {
  section {
    padding: 3rem 5%;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 30%;
  }
}
